<div class="container">
    <div style="margin-top: 20%;">
        <label for="myfile">Check validity by serial number</label><br>
        <input type="text" value="Enter serial number"/><br>
        <input type="submit" value="Check">
    </div>
    <div style="margin: 5%;">or</div>
    <form action="/action_page.php">
        <label for="myfile">Check validity by copy</label><br>
        <input type="file" id="myfile" name="myfile"><br>
        <input type="submit" value="Check">
      </form>

</div>